doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Contact Us
    link(rel="stylesheet" href="/style.css")
  body
    nav
      ul
        li: a(href="/") Home
        li: a(href="Service") Our Services
        li: a(href="Contact") Contact Us
    h1 Contact Us
    p You can reach us through the following methods:
    ul
      li Email: ijarwisdom.com
      li Phone: 09053338083
      li github: <a href="https://github.com/wisdommichaels/express.js">link to the Repo</a> 
