html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home
    link(rel="stylesheet" href="/style.css")
  body
    nav
      ul
        li: a(href="/") Home
        li: a(href="/Services") Our Services
        li: a(href="/Contact") Contact Us
    h1 Welcome to Our Home Page
    p This is the home page of our web application.
