doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Our Services
    link(rel="stylesheet" href="/style.css")
  body
    nav
      ul
        li: a(href="/") Home
        li: a(href="Service") Our Services
        li: a(href="Contact") Contact Us
    h1 Our Services
    p We offer a variety of services to meet your needs.
